* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: radial-gradient(circle, hsla(180, 20%, 20%, 0.75), hsla(0, 0%, 0%, 1.0)), url("./background.png");
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.modal {
  background-color: hsla(0, 0%, 100%, 0.95);
  border: 2px solid #ccc;
  box-shadow: 0 5px 10px hsla(0, 0%, 10%, 0.7);
  min-width: 20rem;
  padding: 3rem 1.5rem;
  text-align: center;
}
